/* adjust this to change the header portion */
.topHeader {
  display: flex;
  height: 400px;
  width: 100%;
  background-color: black;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
}

/* this controls the resizing adjustment point */
@media only screen and (min-width: 1000px) {
  .topHeader {
   width: 60%;
  }
}
