.topHeader {
  display: flex;
  height: 400px;
  width: 100%; 
  background-color: goldenrod;

  align-self: flex-start;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");;
}
