.topHeader {
  display: flex;
  height: 400px;
  width: 100%;
  background-color: black;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");;
}

@media (min-width: 800px) {
  .topHeader {
    margin-left: 10em;
    margin-right: 10em;
  }
}
