 html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust the body container */
body {
  display: flex;
  color: white;
  background-color: lightblue;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  align-items: center;  
  flex-direction: column;
  padding-top: 5em;
}

/* adjust the main container */
main {
  display: flex;
  width: 90%;
  flex-direction: row;
  align-items: center;
}

.fullContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
}

/* adjust the image upon screen size changes */
@media only screen and (min-width: 1000px) {
  body {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }
} 
