/* adjust the nav container */
nav {
  font-family: 'Bungee', cursive; 
  color: lightblue;
  height: 120px;
  background-color: black;
  width: 100%;
  font-size: 32px;
  padding: 1.5em;
  position: fixed;
  top: 0;
  text-align: center;
  text-align-last: justify;
}

/* in charge of the portion that is writing a new tweet */
#writeANewTweet {
  color: lightblue;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: black;
  padding: .1em;
}