nav {
  font-family: 'Bungee', cursive; 
  color: lightblue;
  height: 120px;
  background-color: red;
  width: 100%;
  font-size: 32px;
  padding: 1.5em;
  position: fixed;
  top: 0;
  text-align: center;
  text-align-last: justify;
}

#writeANewTweet {
  color: lightblue;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: red;
  padding: .1em;
}