.header {
  font-family: 'Bungee', cursive; 
  color: #FFFFFF;
  height: 120px;
  background-color: #4056a1;
  width: 100%;
  font-size: 32px;
  /* pushes the font 1.5em from the sides */
  padding: 1.5em; 
  position: fixed;
  top: 0;
  text-align: center;
  text-align-last: justify;
}

#writeANewTweet {
  color: #FFFFFF;
  font-family: 'Source Sans Pro', sans-serif;
  background-color:  #4056a1;
  padding: 1.5em; 
  position: fixed;
  top: 0;
  right: 10px;
  text-decoration: none;
  
}

/* The <span> within the <nav> has Bungee as it's default font-family */

