.container {
  display: flex;
  background-color: #f4f1ec;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Bungee', cursive;
  width: 100%;
  padding: 1em;
  align-self: center;
  /* border: 10px solid black; */
  flex-direction: row;
}

.new-tweet {
  display: flex;
  width: 50%;
  flex-direction: column;
}

#tweet-text {
  width: 100%;
  border: none;
  border-bottom: 2px solid black;
  background-color: #f4f1ec;
}

.buttonDiv {
  display: flex;
  justify-content: space-between;
  font: #f4f1ec;
}

#tweetButton {
  color: #f4f1ec;
  background-color: #4056a1;
}

.tweetsContainer {
  display: flex;
  border: solid black 1px;
  width: 50%;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
  margin: auto;
  
}

.bottomTweetBox {
  flex-direction: row;
  justify-content: space-between;
}